<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>hola</title>
</head>
<body>
<h1>Agregar usuario: </h1>
 <form action="/addUser">
     <label>Username
         <input type="text" name="username">
     </label><br>
     <label>Email
         <input type="text" name="email">
     </label><br>
     <label>Age
         <input type="text" name="age">
     </label><br>
     <label>Gender
         <input type="text" name="gender">
     </label><br>
     <input type="submit"><br>

 </form>

<br>
<h1>Buscar usuario: </h1>
<form action="/getUser">
    <label>id
        <input type="text" name="id">
    </label><br>
    <input type="submit"><br>

</form>
</body>
</html>