<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <meta charset="UTF-8">
  <title>New clan</title>
</head>
<body>
<div class="container-sm">
  <h1>New Clan</h1>
  <hr>

  <form action="#" th:action="@{/saveClan}" th:object="${clan}" method="post">
    <input type="text" th:field="*{name}" th:required="required" placeholder="Clan's name" class="form-control mb-4 col-4">
    <input type="text" th:field="*{description}" th:required="required" placeholder="Clan's description" class="form-control mb-4 col-4">
    <input type="text" th:field="*{main_language}" th:required="required" placeholder="Clan's main language" class="form-control mb-4 col-4">
    <input type="text" th:field="*{operations_base}" th:required="required" placeholder="Clan's operation's base" class="form-control mb-4 col-4">
    <input type="text" th:field="*{title}" placeholder="Clan's title" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-primary">Save New Clan</button>

  </form>


</div>
</body>
</html>