<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <title>STEAM API</title>
</head>
<body>


<div class="container-sm">

    <h1>Steam news for:  </h1> <h1 th:text="${game}"></h1>
    <ul th:each="news: ${steamNews}">
        <li th:text="${news.title}"></li>
        <li th:text="${news.contents}"></li>
        <li th:text="${news.author}"></li>
        <li th:text="${news.url}"></li>
    </ul>

</div>

<a href="/">go home</a>
</body>
</html>